 

* body{
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    max-width:100vw;
    max-height:100vh;
    overflow-x: hidden;
}

.container{ 
    width:80%;
    height:100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4{
    font-size: 1rem;
}
h1{
    font-size: 2rem;
    font-weight: bold;
}
.banner{
    width: 100%;
    height: auto; 
}
.M{
    font-size: 5rem;
    margin-right: 5px; 
}
h2{
    font-size: 1.5rem;
    font-weight: bold;
}
.indent{
    margin-left: 22px;
}
.image-box{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.image-box img{
    width: 100%;
}
.cofee{
    width: 100%;
    height: 200px;
    display: flex;
    margin-top:5px;
    margin-bottom: 10px;
    
}
.cofee img{
    width:50% ;
    height:auto;
    margin-right: 10px;
    margin-bottom: 5px;
}
.cofee #left {
        margin-right: 0px;
}
.video{
    width:98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 20px; 
}
video{
    width:100%;
    height:200px;
} 
.video iframe{
    width: 100%;
    height: 345px;
}
.sell{
    width: 80%;
    height: 200px;
    display : flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.advert{
    width: 100%;
    height: auto;
    display : flex;
    justify-content: space-between;
    margin: 2px;
    
}
.advert-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.advert-product button{
width:50%;
    
}
.advert-product h2{
    font-size: 1em;
}
.product-img-a{
    width: 45%;
    height: auto; 
    margin-right: 10px
}

.info{
    width: 45%;
    height: auto; 
    margin-right: 0px;
    background-color: rgb(236, 234, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info input{
    width: 50%; 
}
.info button{
    width: 80%;
    margin-top: 5px; 
}

.product-img{
    width:50%;
    height:  50%; 
}

.related-post{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.all-post{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}
 
.post{
    width: calc(100%/3.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-img{
    width: 100%;
    height: 200px;
}
button{
    width: auto;
    height: 30px;
    background-color: rgb(197, 88, 55);
    color: aliceblue;
    border-radius:50px;
}
footer{
    background-color: rgb(32, 31, 31);
    color: aliceblue;
    width: 100%;
    height: auto;
}
footer{
    margin-top: 10px;
 width: 100%;
 
}
footer a{
    text-decoration: none;
   
   }
footer li {
    list-style: none;
   }
@media screen and (max-width:500px) {
    .container{
        width:100%;
        height:100% ;
        display: flex;
        flex-direction: column;
       justify-content: center;
    }
    .cofee{
        width: 98%;
        height:auto;
        display: flex;
        flex-direction: column;
      
    }
    .cofee #left {
        margin: 0px;
    }

    .cofee img{
        width:100% ; 
    }

    .all-post{
        flex-direction: column;
        align-items: center;   
    }
    h2{
        font-size: 1.15rem;
        font-weight: bold;
        
    }
.all-post .post{
    width: 100%;
}
.sell{
width: 100%;
height: auto;
flex-direction: column;
margin-bottom: 50px;
}
.sell img{
    width: 100%;
}
.advert {
    width: 100%;
    flex-direction: column;
 }
 video{
    width:100%;
    height:200px;
} 
.sell{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

}
.product-img-a{
    width: 100%;
    height: auto;
   
}
.info{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.advert-product img{
    width: 100%;
}
.advert-product button{
    width: 80%;
}
.advert-product h2{
    font-size: 2em;
}
#credit{
    display: none;
}
footer{
    margin-top: 10px;
 width: 100%;
 
}
footer a{
    text-decoration: none;
   
   }
footer li {
    list-style: none;
   }
}
